```text
--extra-index-url https://download.pytorch.org/whl/cpu

# =========================================================
# LangChain
# =========================================================

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-ollama


# =========================================================
# Embeddings / Vector Database
# =========================================================

sentence-transformers
faiss-cpu


# =========================================================
# PDF / Environment
# =========================================================

pypdf
python-dotenv


# =========================================================
# FastAPI
# =========================================================

fastapi
uvicorn


# =========================================================
# PyTorch - CPU
# =========================================================

torch==2.5.1+cpu
```
